In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [3]:
connection = create_server_connection("localhost", "root", "NEW_USER_PASSWORD")

MySQL Database connection successful

In [4]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [15]:
create_order_table = '''
CREATE TABLE something_else (
sender VARCHAR(40) NOT NULL,
name VARCHAR(40) NOT NULL
);
'''

connection = create_db_connection("localhost", "root", "NEW_USER_PASSWORD", "order_mock") # Connect to the Database
execute_query(connection, create_order_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [17]:
create_order_table = '''
CREATE TABLE order_mock (
sender VARCHAR(40) NOT NULL,
receiver VARCHAR(40) NOT NULL,
status VARCHAR(40) NOT NULL
);
'''

connection = create_db_connection("localhost", "root", "NEW_USER_PASSWORD", "order_mock") # Connect to the Database
execute_query(connection, create_order_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [8]:
create_teacher_table = """
CREATE TABLE teacher (
  teacher_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  language_1 VARCHAR(3) NOT NULL,
  language_2 VARCHAR(3),
  dob DATE,
  tax_id INT UNIQUE,
  phone_no VARCHAR(20)
  );
 """

connection = create_db_connection("localhost", "root", "NEW_USER_PASSWORD", "school") # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [18]:
pop_order = """
INSERT INTO order_mock VALUES
('Alfonso', 'Esther', 'Accepted'),
('Francesc', 'Jose Manuel', 'Rejected')
"""
execute_query(connection, pop_order)

Query successful

In [11]:
pop_teacher = """
INSERT INTO teacher VALUES
(1,  'James', 'Smith', 'ENG', NULL, '1985-04-20', 12345, '+491774553676'),
(2, 'Stefanie',  'Martin',  'FRA', NULL,  '1970-02-17', 23456, '+491234567890'), 
(3, 'Steve', 'Wang',  'MAN', 'ENG', '1990-11-12', 34567, '+447840921333'),
(4, 'Friederike',  'MÃ¼ller-Rossi', 'DEU', 'ITA', '1987-07-07',  45678, '+492345678901'),
(5, 'Isobel', 'Ivanova', 'RUS', 'ENG', '1963-05-30',  56789, '+491772635467'),
(6, 'Niamh', 'Murphy', 'ENG', 'IRI', '1995-09-08',  67890, '+491231231232');
"""
connection = create_db_connection("localhost", "root", "NEW_USER_PASSWORD", "school") # Connect to the Database

execute_query(connection, pop_teacher)

MySQL Database connection successful
Query successful